<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Category Add</title>
  </head>
  <body>
    <element name="employee-add" extends="span">
      <template>
        <div>
          <br/>
          <label for="add-employee-first-name">Name</label>
          <input id="add-employee-first-name" type="text" size="32"/>
          <br/>
          <label for="add-employee-last-name">Name</label>
          <input id="add-employee-last-name" type="text" size="32"/>
          <br/>
          <label for="add-employee-email">Description</label>
          <input id="add-employee-email" type="text" size="48"/>
          <br/>
          <button on-click="add()">Add</button>
          <span id="add-employee-message"></span>
        </div>
      </template>
      <script type="application/dart" src="employee_add.dart"></script>
    </element>
  </body>
</html>
