<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Links</title>
    <link rel="import" href="task_add.html">
    <link rel="import" href="task_edit.html">
  </head>
  <body>
    <element name="task-table" extends="span">
      <template>
        <div template if="showTaskAdd">
          <task-add
            project="{{ project }}"
            tasks="{{ tasks }}">
          </task-add>
        </div>
        <div template if="showTaskEdit">
          <task-edit
            task="{{ task }}">
          </task-edit>
        </div>
        <table>
          <caption template if="project != null" class="marker">
            Tasks of {{ project.name }}
            <button id="addTaskButton" on-click="add()">Show Add</button>
          </caption>
          <caption template if="employee != null" class="marker">
            Tasks of {{ employee.name }}
          </caption>
          <tr>
            <th template if="employee != null">Project</th>
            <th template if="project != null">Employee</th>
            <th>Description</th>
            <th>Edit</th>
            <th template if="project != null">Remove</th>
          </tr>
          <tbody template iterate="task in tasks.internalList">
            <tr>
              <td template if="employee != null">{{ task.project.name }}</td>
              <td template if="project != null">{{ task.employee.name }}</td>
              <td>{{ task.description }}</td>
              <td><button on-click="edit(task)">Edit</button></td>
              <td template if="project != null">
                <button on-click="delete(task)">Remove</button>
              </td>
            </tr>
          </tbody>
        </table>
      </template>
      <script type="application/dart" src="task_table.dart"></script>
    </element>
  </body>
</html>
