<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Task Edit</title>
  </head>
  <body>
    <element name="task-edit" extends="span">
      <template>
        <div>
          <br/>
          <span class="marker">Task of {{ task.project.name }} project</span>
          <br/>
          <label>Employee</label>
          <input readonly="true" value="{{ task.employee.name }}"/>
          <br/>
          <label for="edit-task-description">Description</label>
          <input id="edit-task-description"
            type="text" size="96" value="{{ task.description }}"
          />
          <br/>
          <button on-click="update()">Update</button>
          <span id="edit-task-message"></span>
        </div>
      </template>
      <script type="application/dart" src="task_edit.dart"></script>
    </element>
  </body>
</html>