<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Links</title>
    <link rel="import" href="task_add.html">
    <link rel="import" href="task_edit.html">
  </head>
  <body>
    <element name="task-table" extends="span">
      <template>
        <div template if="showTaskAdd">
          <task-add
            project="{{ project }}"
            tasks="{{ tasks }}">
          </task-add>
        </div>
        <div template if="showLinkEdit">
          <task-edit
            project="{{ project }}"
            tasks="{{ tasks }}"
            task="{{ task }}">
          </task-edit>
        </div>
        <table>
          <caption class="marker">
            Tasks of {{ project.code }} project
            <button id="addTaskButton" on-click="add()">Show Add</button>
          </caption>
          <tr>
            <th>Description</th>
            <th>Edit</th>
            <th>Remove</th>
          </tr>
          <tbody template iterate="task in tasks.toList()">
            <tr>
              <td>{{ task.description }}</td>
              <td><button id="editTaskButton" on-click="edit(task)">
                Edit</button>
              </td>
              <td><button on-click="delete(task)">Remove</button></td>
            </tr>
          </tbody>
        </table>
      </template>
      <script type="application/dart" src="task_table.dart"></script>
    </element>
  </body>
</html>
